.name_box {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;

}

header {
    background-color: #ffffff;
    border-color: #cccccc;

}

footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    border-top: #4aaaa5;
    border-width: 5px;
    text-align: center;
    font-size: 5px;`
}

body {
    background-color: #ffffff;
    border-color: #dddddd;
}

.first_page {
    width: 960px;
}

hr {
    color: #dddddd;
}

h1 {
    color: #4aaaa5;
}