.name_box {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: white;
    width: 110px;
    height: 40px;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 110%;
    text-align: left; 
    margin-left: 50px;
    
}

.link_box {
    font-size: 16px;
    color: #dddddd;
    padding-bottom: 20px;
    padding-right: 15px;
    width: 250px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    
}

a:link {
    color: #cccccc;
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #dddddd;
}

footer {
    background-color: #666666;
    position: fixed;
    border-top: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 8px;
    width: 100%;
    height: 30px;
    color: #777777;
}

body {
    background-image: url("../images/gravel.png");
    position: relative;
}

.first_page {
    width: 960px;
    border-color: #dddddd;
    margin: auto;
}

hr {
    color: #dddddd;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

h1 {
    color: #4aaaa5;
    font-size: 110%;
    padding-left: 15px;
    padding-top: 20px;
}

section {
    background-color: #ffffff;
    height: 350px;
}

.inner_block {
    margin-left: 15px;
    margin-right: 15px;
}

img {
    float: left;
    margin-right: 15px;
}

.clear_fix {
    overflow: auto;
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
